:root {
  --color-blue-light: rgba(77, 163, 255, 255);
  --color-blue-dark: rgba(0, 52, 118, 255);
  --color-white: rgba(255, 255, 255, 255);
  --color-black: rgba(0, 0, 0, 0.85);
  --color-grey-dark: rgba(105, 101, 119, 255);
  --color-grey-light: rgba(226, 227, 229, 1);
  --color-black-light: rgb(44, 44, 44);
}

body {
  display: grid;
  justify-items: center;
  font-family: sans-serif, arial, helvetica;
  margin: 0;
  color: var(--color-black-light);
}

h1 {
  text-align: center;
  color: var(--color-black);
  font-size: 32px;
  margin-bottom: 32px;
}

.container {
  padding: 16px;
  max-width: 1280px;
}

.contractInstructions {
  text-align: left;
  font-size: 16px;
}

.downloadContract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.privateContract {
  border: 1px solid var(--color-grey-dark);
  padding: 0px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
  height: 256px;
}

#contractForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 512px;
}

.submitFormBtn {
  background-color: var(--color-blue-light);
  color: var(--color-white);
  border-radius: 4px;
  border: 1px solid var(--color-blue-light);
  padding: 8px;
  font-size: 14px;
  width: fit-content;
}

.readMoreBtn {
  color: var(--color-blue-dark);
  background-color: var(--color-white);
  border-radius: 4px;
  border: 1px solid var(--color-grey-light);
  padding: 8px;
  width: 36%;
  font-size: 14px;
}

.downloadPDFBtn {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  border-radius: 8px;
  border: 1px solid var(--color-blue-dark);
  padding: 8px;
  font-size: 14px;
}

.personalInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

label {
  font-size: 16px;
}

.signature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#signature {
  width: 416px;
  height: 64px;
}
.nameContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.checkbox {
  color: var(--color-blue-dark);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

#checkbox {
  padding: 12px;
  width: fit-content;
}

.checkbox label {
  font-size: 12px;
}

.personalInfoContainer p {
  font-size: 12px;
}

h3 {
  font-size: 20px;
  color: var(--color-black-light);
}

input {
  font-size: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  width: 200px;
  height: 25px;
}

input:focus {
  outline-color: var(--color-blue-light);
  outline-style: ridge;
  box-shadow: 1px 1px 3px rgb(49, 49, 49);
}

textarea:focus {
  outline-color: var(--color-blue-light);
  outline-style: ridge;
  box-shadow: 1px 1px 3px rgb(49, 49, 49);
}

textarea {
  border-radius: 4px;
}
